@import 'path/to/bootstrap/scss/variables';


body{
    background-color: red;
    min-height: 100vh;
}

.title{
    color: #0dcaf0;

    
   
}

.main{
    padding-top: 5%;
    padding-left: 10%;
   
}

.custom-bg-color {
    background-color:#05262d;
}

.card {
    height: 18em !important;
   
 }

.card-text{
    padding-top: 2em;
}

.btn{
    margin-top: 4em !important;
}

.last{
    margin-right: 50em !important;
}

td{
    height: 5em !important;
}